@use '../../../styles/mixins.scss' as mixins;
@import '../../../styles/extends';

.section {
  @extend %container;
  @extend %section-padding;
  display: grid;
  // background-color: white;
  color: black;
  overflow: hidden;
  background-image: linear-gradient(#000000 60%, #ffffff 50%);

  @include mixins.onNotebook {
    background-image: linear-gradient(to right,#000000 50%, #ffffff 50%);
  }
}

.brand_title {
  font-size: 45px;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;

  margin-top: 60px;
  grid-row: 1/1;

  @include mixins.onNotebook {
    margin-top: 70px;
  }

  @include mixins.onDesktop {
    font-size: 55px;
    margin-top: 100px;
  }
}

.brand_slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.brand_logo {
  width: fit-content;
}
