@use '../../styles/mixins.scss' as mixins;

.page {
  // height: calc(100vh - 73px - 16px);
  // overflow: scroll hidden;
  overflow: hidden;
  // overflow-x: scroll;
  // margin: auto 0;
}

.horizontalScrollContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  // hidding standart browser scrollbar
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.horizontalScrollContainer::-webkit-scrollbar {
  display: none;
}

.horizontalScrollContainer > * {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  // min-width: 90vw;
}
// .progress_container {
//   position: relative;
//   display: flex;
//   align-items: center;

//   padding: 0 30px;

//   @include mixins.onTablet {
//     padding: 0 50px;
//   }
//   @include mixins.onNotebook {
//     padding: 0 60px;
//   }
//   @include mixins.onDesktop {
//     padding: 0 76px;
//   }
// }
