@use '../../styles/mixins.scss' as mixins;

.page {
  overflow: hidden;
}

.horizontalScrollContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: calc(100vh - 1px);

  // hidding standart browser scrollbar
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.horizontalScrollContainer::-webkit-scrollbar {
  display: none;
}

.horizontalScrollContainer > * {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
}

